body{font-family:Verdana, Arial, "Helvetica Neue", sans-serif;text-align:center}
.clear{clear:both}
#content{width:960px;margin:20px auto;padding:20px;text-align:left;border:1px solid #000;border-radius:0.5em;-webkit-border-radius:0.5em;-moz-border-radius:0.5em}

#countdown_dashboard {
  height: 55px;
  float: right;
  padding-bottom: 10px;
}

.countdown_label {
  float: left;
  color: #555;
  margin-left: 10px;
  padding-top: 17px;
}

.dash {
  width: 55px;
  height: 57px;
  background: transparent url('../images/countdown/dash_small.png') 0 0 no-repeat;
  float: left;
  margin-left: 10px;
  position: relative;
}

.dash .digit {
  font-size: 27pt;
  font-weight: bold;
  float: left;
  width: 27px;
  text-align: center;
  font-family: Times;
  color: #555;
  position: relative;
}

.dash_title {
  position: absolute;
  display: block;
  bottom: 0px;
  right: 3px;
  font-size: 5pt;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#nav {
  clear: both;
}

#banner{height:200px;background-color:red}
#home_upcoming_events,#home_past_events{float:left;width:33%}
#resources{float:right}
#resources ul#list_of_resources li.twitter{list-style-image:url(/images/icons/twitter.png)}
#resources ul#list_of_resources li.mailing_list{list-style-image:url(/images/icons/mail.png)}
#resources ul#list_of_resources li.meetup{list-style-image:url(/images/icons/meetup.png)}
#resources ul#list_of_resources li.facebook{list-style-image:url(/images/icons/facebook.png)}
#resources ul#list_of_resources li.irc{list-style-image:url(/images/icons/irc.gif)}
#resources ul#list_of_resources li.github{list-style-image:url(/images/icons/github.png)}
#resources ul#list_of_resources li.linkedin{list-style-image:url(/images/icons/linkedin.png)}
#resources ul#list_of_resources li.rugs{list-style-image:url(/images/icons/ruby.png)}
