#countdown_label, #countdown_dashboard {
  height: 55px;
  float: left;
  margin: 0;
}

#countdown_label {
  margin-top: 8px;
  color: #555;
  margin-right: 5px;
}

.dash {
  width: 55px;
  height: 57px;
  background: transparent url('../images/countdown/dash_small.png') 0 0 no-repeat;
  float: left;
  margin-left: 10px;
  position: relative;
}

.dash .digit {
  font-size: 27pt;
  font-weight: bold;
  float: left;
  width: 27px;
  text-align: center;
  font-family: Times;
  color: #555;
  position: relative;
}

.dash_title {
  position: absolute;
  display: block;
  bottom: 0px;
  right: 3px;
  font-size: 5pt;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
}