=rounded-corners
  border-radius: 0.5em
  -webkit-border-radius: 0.5em
  -moz-border-radius: 0.5em
  
=red
  color: #BB241E

body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  background-image: url(/images/red_bg_77.png)
  background-position: 0px 35px
  background-repeat: repeat-x
  text-align: center
  font-size: 11px
  h1
    :font-size 18px
    :font-weight bold
  p
    font-size: 11px
    line-height: 18px
  .clear
    clear: both  
  
  a
    +red
    :font-weight bold

  #content
    width: 900px
    margin: 0px auto
    text-align: left
    #logo
      :padding 0px 0px
      :height 77px
      :width 900px
      :float left
      img
        :float left
        :height 53px
        :border 2px solid #ffffff
        :margin-right 10px
        :margin-top 10px
      h1
        :font-size 24px
        :margin-top 10px
        :color #ffffff
        :letter-spacing 3px
      h5
        :color #ffffff
        :font-size 11px
      #nav
        :list-style none
        :float right
        :margin-top -63px
        :margin-right -2px
        :height 77px
        :border-right 2px solid #ffffff
        li
          :float left
          :height 77px
          :border-left 2px solid #ffffff
          a
            :font-size 13px
            :font-weight bold
            :color #ffffff
            :text-decoration none
            :float left
            :line-height 13px
            :padding 32px 20px
          a:hover
            :background-color #b8010d
          a.current
            :background-color #8f040c
    #header
      :margin 0px
      :height 15px
      :padding 10px 20px
      :width 860px
      :float left
      
      #countdown_dashboard
        :font-size 18px
        :height 55px
        :float right
        :padding-bottom 10px
        .countdown_label 
          :font-size 10px
          :line-height 10px
          :letter-spacing 1px
          :float left
          :color #555
          :margin-left 3px
	
        .dash
          :float left
          :margin-left 8px
          :position relative
  
          .digit 
            :font-size 12px
            :font-weight bold
            :float left
            :text-align center
            :font-family Times
            +red
            :line-height 12px
            :position relative
            :padding 0px 5px 0px 0px

          .dash_title
            :color #555555
            :display inline
            :float right
            :font-size 10px
            :letter-spacing 1px
            :line-height 10px
            :position relative

      #complete_info_message 
        display: none
        float: right
      
      #nav 
        :float right
        :clear right
        :font-size 14px
        :font-weight bold
        :margin-right -2px
    
    #banner
      height: 300px
      width: 900px
      float: left
      margin: 10px 0px 0px
      position: relative
      #slideShowBox
        :width 900px
        :background-color #000000
        :height 300px        
        .slideShowImage
          :width 900px
          :height 300px
          :overflow hidden
          :position relative
          :background-position center center
          :margin 0px
          img
            :width 900px
            :position absolute
            :top -40%
            :left 0px
        .slideShowOverlay
          :z-index 4
          :width 884px
          :position absolute
          :bottom 8px
          :left 8px
          :background-image url(/images/overlay_bg.png)

          .slideDetails
            :float left
            :width 900px
            :margin 10px
            :line-height 18px
            :text-align left
            .infoDetails
              :color #dddddd
          .slideNavigation
            :position absolute
            :top 18px
            :right 10px
            ul
              :list-style none
              :float right
              li
                :display inline
                :float left
                :width 20px
                :margin-left 2px
                :height 20px
                :background-image url(/images/overlay_white.png)
                a
                  :line-height 20px
                  :width 20px
                  :float left
                  :height 20px
                  :text-align center
                  :text-decoration none
              li:hover
                a
                  :color #ffffff
              .current
                a
                  :color #ffffff
                  
    #columns
      :width 900px      
      :float left
      :margin-top 10px
      #mainColumn
        :float left
        :width 640px
        #eventContent
          :width 640px
          :min-height 650px
          .event
            :padding 0px
            :margin-bottom 20px
            h3
              :width 600px
              :font-size 14px
              :font-weight bold
              :margin-bottom 0px
              :line-height 20px
              :float left
            .moreInfo
              :float right
              :line-height 20px
              :font-size 20px
              :margin-right 20px
        p
          :clear both
          :margin-right 20px
        h1
          :margin-bottom 10px
          :color #8f040c
        .column
          float: left
          width: 304px
          height: 280px
          overflow: hidden
          margin-right: 15px
          .event
            :width 304px
            :margin-bottom 10px
            h3
              :width 270px
              :font-size 14px
              :line-height 20px
              :font-weight bold
              :margin-bottom 0px
              :float left
            .moreInfo
              :float right
              :font-size 20px
              :line-height 20px
              :margin-right 15px
            p
              :clear both
        .first
          :border-right 2px dotted #eeeeee
    #resources
      :width 220px
      :height 240px
      :background-color #B8010D
      :background-image url(/images/red_bg_77.png)
      :background-repeat repeat-x
      :background-position bottom left
      :padding 20px
      :float right
      h1
        :margin-bottom 10px
        :color #ffffff
      ul#list_of_resources
        margin-left: 0px
        li
          :list-style none
          :padding-left 24px
          :background-repeat no-repeat
          :margin-bottom 5px
          :text-transform lowercase
          :font-size 11px
          :line-height 20px
          a
            :color #ffffff
            :text-decoration none
        li.twitter
          background-image: url(/images/icons/twitter.png)
        li.mailing_list
          background-image: url(/images/icons/mail.png)
        li.meetup
          background-image: url(/images/icons/meetup.png)
        li.facebook
          background-image: url(/images/icons/facebook.png)
        li.irc
          background-image: url(/images/icons/irc.gif)      
        li.github
          background-image: url(/images/icons/github.png)
        li.linkedin
          background-image: url(/images/icons/linkedin.png)      
        li.rugs
          background-image: url(/images/icons/ruby.png)
#footer
  :width 100%
  :float left
  :background-image url(/images/red_bg_77.png)
  :background-repeat repeat-x
  :height 11px
  :margin-top 10px
  :padding 33px 0px
  p
    :width 900px
    :text align center
    :margin 0px auto
    :color #ffffff
    :font-size 11px
    :line-height 11px
    
  