#eventContent
  %h1 Welcome Rubyists!
  %p WMRUG is a social/learning group for people in/around the West Midlands who are interested in everything Ruby and/or Rails!
  %p People of all abilities welcome, no fees, rules or requirements, just get in touch and join the next meeting! More the merrier.
  %p We're keen to pool together and connect the existing Ruby users of the area, and provide help/advice to inquisitive programmers from other languages/frameworks/backgrounds.
