#home_upcoming_events.column
  %h1 Upcoming Events...
  = render :partial => "front_page_event", :collection => @upcoming_events

#home_past_events.column
  %h1 Past Events...
  = render :partial => "front_page_event", :collection => @past_events
