- @page_title = "Events"
%h1 Upcoming Events
%div#upcoming_events
  - @upcoming_events.each do |event|
    %h2= event.title
    %p= event.body

%h1 Past Events
%div#past_events
  - @past_events.each do |event|
    %h2= event.title
    %p= event.body
